<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/graphql@16.9.0/index.min.js"></script>

</head>

<body>
    <h1>Hello VueJS</h1>
    <div id="app">
        <h1>Hello {{ name }}!</h1>
        <input type="text" v-model="name">
        <ul>
            <li v-for="framework in frameworks">{{ framework }}</li>
        </ul>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                name: "vuejs",
                frameworks: ["React", "Vue", "Angular"],
            }
        })
    </script>
    
</body>
</html>
